.landing-page {
  overflow-y: auto;
  @include pos(f, $navbar-height 0 0 0);
  font-family: $page-content-font-family;

  h1, h2, h3, p {
    max-width: $max-page-width;
    margin: 0 auto;
  }

  h1, h2, h3 {
    font-family: $page-heading-font-family;
  }

  .landing-banner {
    text-align: center;
    width: 100%;
    color: $content-color;
    background-color: $landing-banner-bg-color;

    h1 {
      text-transform: uppercase;
      letter-spacing: .2em;
      padding: 1.5em;
      font-size: $landing-banner-font-size;
      font-weight: 300;
      cursor: default;
    }
  }

  .landing-tagline {
    text-align: center;

    h2 {
      font-size: $landing-tagline-font-size;
      padding: 1.5em;
      font-weight: 400;
      max-width: $max-page-width*.75;
    }
  }

  .landing-section {
    text-align: center;
    padding: 5em 2em;

    h3 {
      font-size: $landing-section-header-font-size;
      letter-spacing: 0.1em;
      font-weight: 400;
      padding: 1em;
      padding-top: 0;
    }

    p, a {
      font-size: $page-content-font-size;
      font-weight: 300;
      letter-spacing: 0.05em;
      padding: 1em;
    }

    a {
      font-size: $landing-section-link-font-size;
      padding-bottom: 0;
    }
  }

  .dark {
    color: $content-color;
    background-color: $dark-bg-color;

    a {
      color: $content-color;

      &:hover {
        text-shadow: 0 0 1px $content-color;
      }
    }
  }

  .light {
    color: $content-color-dark;
    background-color: $light-bg-color;

    a {
      color: $content-color-dark;

      &:hover {
        text-shadow: 0 0 1px $b50;
      }
    }
  }

  .logo {
    width: 3em;
    margin-top: 2em;
  }

}
