$page-heading-font-family: Quicksand, sans-serif;
$page-content-font-family: Oxygen, sans-serif;
$page-content-font-size: 20px;


$landing-banner-bg-color: rgba(1, 3, 24, 0.33);
$landing-banner-font-size: 44px;
$landing-tagline-font-size: 27px;
$landing-section-header-font-size: 30px;
$landing-section-link-font-size: 23px;
