.message-bar {
  color: $content-color;
  height: $messagebar-height;
  background-color: $messagebar-bgcolor;
  position: fixed;
  bottom: $statusbar-height;
  left: 0;
  right: $sidebar-width;

  .messagebar-align {
    position: absolute;
    right: 0;
  }

  .message-widget {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    position: relative;

    .toggle-button {
      width: $messenger-toggle-width;
      height: $messagebar-height;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;

      &:hover {
        cursor: pointer;
        background-color: $w10;
      }

      .gamertag {
        margin: 0;
        margin-left: 2em;
        padding: .5em;
        display: inline-block;
      }

      .message-icon {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.6em;
      }
    }

    .expanded {
      width: $messenger-width;
    }
  }
}
