.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $overlay-bg-color;
  z-index: 9999;

  .dismiss-button {
    margin-top: 1.5em;
    padding: 1em;
    background-color: $overlay-dismiss-color;

    &:hover {
      background-color: $overlay-dismiss-hover-color;
    }
  }

  .window {
    display: table;
    height: 100%;
    margin: auto;
    padding: 5em 0;

    .overlay-content {
      color: $content-color;
      background-color: $b95;
      display: block;
      vertical-align: middle;
      text-align: center;
      width: 32em;
      min-height: 18em;
      position: relative;
      padding: 1em 2em;
    }
  }
}
