.site-wrapper {
  background: url(../images/Orion_Nebula_-_Hubble_2006_mosaic_2560_blue_33.jpg) no-repeat;
  background-position: center;
  background-attachment: fixed;
//  background-attachment: scroll;
  background-size: cover;
}
