$navbar-height: 3em;
$footer-height: 0;
$messagebar-height: 2.25em;
$statusbar-height: 0;
$scrollbar-width: 0.5em;
$sidebar-width: 30%;
$widget-width: 25%;
$beacon-status-width: 80%;
$messenger-toggle-width: 8em;
$messenger-width: 16em;
$bio-width: 20em;


$b90: rgba(0,0,0,.90);
$b75: rgba(0,0,0,.75);
$b67: rgba(0,0,0,.67);
$b50: rgba(0,0,0,.50);
$b33: rgba(0,0,0,.33);
$b25: rgba(0,0,0,.25);
$b15: rgba(0,0,0,.15);
$b10: rgba(0,0,0,.10);
$b05: rgba(0,0,0,.05);

$w90: rgba(255,255,255,.90);
$w75: rgba(255,255,255,.75);
$w67: rgba(255,255,255,.67);
$w50: rgba(255,255,255,.50);
$w33: rgba(255,255,255,.33);
$w25: rgba(255,255,255,.25);
$w15: rgba(255,255,255,.15);
$w10: rgba(255,255,255,.10);
$w05: rgba(255,255,255,.05);


// light text theme
$navbar-bgcolor: $b90;
$sidebar-bgcolor: $b75;
$widget-bgcolor: $b50;
$content-bgcolor: $b15;
$status-submit-bgcolor: #111;
$tile-bgcolor: $b50;
$tile-bghover: $b33;
$beacon-status-bgcolor: $b25;
$messagebar-bgcolor: $b75;
$set-status-bgcolor: #eee;

$navbar-color: #cdf;
$content-color: #cdf;
$beacon-status-color: #9ab;
$placeholder-color: #567;
$set-status-color: #222;

$shadow: 0 0 5px $b25;
$shadow-white: 0 0 5px $w10;

//$text-color: lighten(#000, 93%);
//$transition-width: 5%;
//$content-width: (100%-$transition-width);
//$overflow-width: 300%;


//$color-agreed: rgba(150,176,249,.75);
//$color-disagreed: rgba(255,0,0,.75);
//
//$scrollview-background: rgba(0,0,0,.25);
//$tile-background: rgba(0,0,0,.5);
//$tile-background-hover: rgba(255,255,255,.05);
////$tile-background-hover: rgba(0,0,0,.5);
//$scrollbar-background: rgba(255,255,255,.03);
//
//$padding-view: .75em;
//$padding-tile: .75em;
//
//$img-shadow: 0 0 10px 1px rgba(0,0,0,0.95);