@import "_variables";

*, *:before, *:after {
    -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
    -moz-box-sizing: border-box; /* Needed for Firefox */
    box-sizing: border-box
}

html, body, .wrapper, {
  height: 100%;
  margin: 0;

  overflow: hidden;

  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;

//  font-family: 'Oxygen';
//  font-weight: 300;
//  font-size: 18px;
}

li {
  list-style: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

img.grayscale.disabled {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

.hover-solid {
  opacity: 0.25;
  filter: alpha(opacity=25);
}

.hover-solid:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.style-placeholders {
  *::-webkit-input-placeholder {
     color: $placeholder-color;
  }
  *:-moz-placeholder { /* Firefox 18- */
     color: $placeholder-color;
  }
  *::-moz-placeholder {  /* Firefox 19+ */
     color: $placeholder-color;
  }
  *:-ms-input-placeholder {
     color: $placeholder-color;
  }
  *[placeholder] {
    color: $placeholder-color;
  }
}

.site-wrapper {
  background: url(../images/Orion_Nebula_-_Hubble_2006_mosaic_2560_blue_33.jpg) no-repeat;
  background-position: center;
  background-attachment: fixed;
//  background-attachment: scroll;
  background-size: cover;
}

.sidebar {
  background-color: $sidebar-bgcolor;
  position: absolute;
//  margin-right: $sidebar-width;
  right: 0;
  top: $navbar-height;
  bottom: 0;
  width: $sidebar-width;
//  padding: 1em;

  .sidebar-item {
    color: $content-color;
    background-color: $b50;
    box-shadow: 0 0 5px rgba(255, 255, 255, .2);
    text-align: center;
    padding: .75em;
    margin: 1em;

    h3 {
      margin: 0;
      font-size: 20px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
    }

  }

  .live-search {
    cursor: pointer;
  }

  .live-search:hover {
    background-color: $b75;
  }

  .suggested h3 {
    font-size: 16px;
  }

}


.dojo-nav {
  height: $navbar-height;
  width: 100%;
  display: table;
  table-layout: fixed;
  z-index: 10;

  background-color: $navbar-bgcolor;
  color: $navbar-color;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  .logo {
    vertical-align: top;
    height: 1.25em;
    margin-right: 0.35em;
  }

  .brandname {
    vertical-align: bottom;
  }

  ul {
    display: table-row;
    width: 100%;
    height: 100%;

    li {
      cursor: pointer;
      display: table-cell;
      width: 12.5%;
      text-align: center;
      vertical-align: middle;
    }

    li:hover {
      background-color: $w05;
    }

    li.indicator {
      width: 3em;
    }

    .brand {
      width: 10em;
      text-align: left;
      padding-left: 0.5em;
    }

    .spacer {
      width: auto;
      cursor: default;
    }
    .spacer:hover {
      background-color: rgba(0,0,0,0);
    }

    .user-widget-slot {
      width: $widget-width;
      background-color: $widget-bgcolor;
      position: relative;
    }
  }
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 9999;

  .dismiss-button {
    margin-top: 1.5em;
    padding: 1em;
    background-color: rgba(13,15,15,1);
  }

  .dismiss-button:hover {
    background-color: rgba(15,20,20,1);
  }

  .window {
    display: table;
    height: 100%;
    margin: auto;
    padding: 5em 0;

    .overlay-content {
      color: $content-color;
      background-color: rgba(0,0,0,.9);
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 30em;
      padding: 0 5em;
    }
  }
}

.auth-form {
  width: 25em;
  margin: auto;
  padding: 1em;
  text-align: center;

  input {
    text-align: center;
    border: none;
    padding: 0.5em;
    margin: 0.5em auto;
    width: 100%;
    font-size: 16px;
    border-radius: 3px;
  }

  input[type="submit"] {
    width: 50%;
  }

  .hint {
    color: #fff;
    font-size: 21px;
  }
}

.user-widget {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: default;
}

.landing-page {
  overflow-y: auto;
  position: fixed;
  top: $navbar-height;
  bottom: 0;

  .landing-title {
    text-align: center;
    width: 100%;
    color: $content-color;
    background-color: rgba(1, 3, 24, 0.33);

    h1 {
      text-transform: uppercase;
      letter-spacing: .2em;
      margin: 0;
      padding: 1.5em;
      font-size: 44px;
      font-weight: 300;
      cursor: default;
    }
  }

  .landing-tagline {
    text-align: center;

    h2 {
      font-size: 27px;
      margin: 0;
      padding: 1.5em 5em;
      font-weight: 400;
    }
  }

  .landing-section {
    text-align: center;
    padding: 3em 5em;

    h3 {
      margin: 0;
      padding: 0 5em;
      font-size: 26px;
      font-family: Oxygen, sans-serif;
      letter-spacing: 0.1em;
      font-weight: 400;
    }

    p, a {
      margin: 0;
      padding: 2em 0 0;
      font-size: 21px;
      font-weight: 300;
      font-family: Oxygen, sans-serif;
      letter-spacing: 0.05em;
    }

    a {
      font-size: 23px;
    }

    a:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  .dark {
    color: $content-color;
    background-color: rgba(5, 6, 10, 0.9);

  }

  .light {
    background-color: rgba(157, 210, 249, 0.65);

    a {
      color: #000;
    }
  }

  .logo {
    width: 3em;
    margin-top: 2em;
  }

}


.dashboard {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  font-family: 'Oxygen', sans-serif;
  top: $navbar-height;
  bottom: $messagebar-height;
  left: 0;
  right: $sidebar-width;
  background-color: $content-bgcolor;

  .tile-input {
    border: none;
    margin-bottom: 1em;
    padding: 0.5em;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: $content-color;
    background-color: $b50;
    box-shadow: $shadow-white;
    text-align: center;
    font-weight: 300;
  }

  .hint {
    margin-top: 0;
  }

}

.gamertag-stats {
  color: $content-color;
  width: 100.1%;
  table-layout: fixed;
  height: 5em;

//    padding: 1em;
  background-color: $tile-bgcolor;
//  text-align: left;
  text-align: center;

  img {
    height: 2.25em;
    width: 2.25em;
    vertical-align: middle;
    margin-left: 1.5em;
  }

  h1 {
    display: inline-block;
    vertical-align: middle;
  }

  h1, h2, h3 {
    font-weight: 300;
    margin: 0;
  }

}

.profile {
  width: 100%;
  table-layout: fixed;
//  display: table;
  position: relative;
//  top: 10em;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-color: $b25;

  td {
    vertical-align: top;
  }

  td.fixed-width {
    width: $bio-width + 2em;
  }

  .bio {
    width: $bio-width;
//    min-height: 20em;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 16px;
    margin: 1em;

    textarea {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      font-size: 16px;
      padding: 1em;
//      margin-top: 1em;
//      margin-left: 1em;
      background-color: $b50;
      color: #eee;
      width: $bio-width;
      resize: none;
      border: none;
    }
  }

  .preferences {
//    position: relative;
//    top: 0;
//    right: 1em;
//    left: $bio-width+2em;
    text-align: center;
//    background-color: rgba(0,0,255,0.5);
    padding: 0 1em 1em 0;

    h1, h2, h3 {
      font-weight: 300;
      margin: 0;
      margin-bottom: 0.5em;
      color: $content-color;
    }

    .tile {
      background-color: $b50;
      padding: .5em;
      margin-top: 1em;
    }

    .icon {
      height: 3.5em;
      cursor: pointer;
    }
  }

}









.dojo-content {
  overflow: hidden;
  position: absolute;
  top: $navbar-height;
  bottom: $statusbar-height + $messagebar-height;
  width: 100%-$sidebar-width;
//  padding-top: $navbar-height;
//  padding-bottom: $statusbar-height;
//  margin-bottom: $navbar-height;
//  height: 100%;
  background-color: $content-bgcolor;
  color: $content-color;
}

a {
  text-decoration: none;
  color: $content-color;
}


.status-bar {
  position: fixed;
//  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: $sidebar-width;
  height: $statusbar-height;
  text-align: center;
}

.set-status {

  display: table;
  width: 100%;
  height: 100%;
  margin-left: 1px;

  input {
    display: table-cell;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    padding-left: 0.5em;
    text-align: center;
    background-color: $set-status-bgcolor;
    color: $set-status-color;
  }

  .btn-submit {
    display: table-cell;
    padding: 0.25em;
    background-color: $status-submit-bgcolor;
    cursor: pointer;
    width: 20%;
    vertical-align: middle;
  }
}

.beacon-list {
  margin: 0;

  position: fixed;
  top: $navbar-height;
  bottom: $messagebar-height;
  left: 0;
  right: $sidebar-width;

  padding: 1em 1em 0 1em;
  overflow-y: scroll;
  margin-right: -200%;
  padding-right: 200%;

}

.beacon-tile {
  background-color: $tile-bgcolor;
  padding: .5em;
  margin-bottom: 1em;
//  box-shadow: $shadow;
  border-radius: 2px;
  cursor: default;

  .gamertag {
    font-family: 'Oxygen', sans-serif;
    letter-spacing: .1em;
    font-size: 18px;
  }

  .idle-dot-cell {

    width: 1em;
    text-align: center;
    vertical-align: top;

    .idle-dot {
      width: 0.4em;
      height: 0.4em;
    }
  }

  .time {
    width: 2.7em;
    text-align: center;
    color: $beacon-status-color;
  }

  .status {
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .05em;
    background-color: $beacon-status-bgcolor;
    color: $beacon-status-color;
//    width: $beacon-status-width;
    height: 1.7em;
    border-radius: 2px;
    box-shadow: $shadow-white;
  }

  .table-spacer {
    width: 5%;
  }

  .invite-button {
//    padding: 0.25em;
    color: #eee;
    width: 10%;
    font-size: 24px;
  }

  .invite-button:hover {
    background-color: $b50;
    cursor: pointer;
  }

  .message-toggle {

    margin-top: .75em;
    height: 2em;

    .textarea-sizer {
      display: table-cell;
      height: 100%;
      width: $beacon-status-width;
      position: relative;

      .message-input {
        position: absolute;
        top: 0;
        bottom: 0;
        padding: .5em;
        resize: none;
        border: none;
        width: 100%;
        height: 100%;
        background-color: $beacon-status-bgcolor;
        box-shadow: $shadow-white;
        border-radius: 2px;
        color: $beacon-status-color;
      }

//      input {
//        color: #0cf;
//      }
    }

    .message-send {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
    }
    .message-send:hover {
      background-color: $b50;
    }
  }
}

.user-beacon-tile {
  box-shadow: inset 0 0 1px 0px rgba(255,255,255,1);
}

.beacon-tile:hover {
  background-color: $tile-bghover;
  color: #fff;
//  cursor:crosshair;
}



.message-bar {
  color: $content-color;
  height: $messagebar-height;
  background-color: $messagebar-bgcolor;
  position: fixed;
  bottom: $statusbar-height;
  left: 0;
  right: $sidebar-width;
//  box-shadow: 0 0 3em $w15;

  .messagebar-align {
    position: absolute;
    right: 0;
  }

  .message-widget {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding: .25em;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    position: relative;


    .toggle-button {
      padding: .25em .5em;
      width: $messenger-toggle-width;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .toggle-button:hover {
      cursor: pointer;
      background-color: $w10;
    }

    .expanded {
      width: $messenger-width;
    }
  }
}


.messenger {
  position: absolute;
  right: 0;
  height: $messenger-width;
  width: $messenger-width;
  background-color: $w50;
  color: #111;
  bottom: $messagebar-height + .3em;

  .minimize, .close {
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    position: absolute;
    padding-top: .2em;
    top: .3em;
    right: 3%;
  }

  .minimize {
//    right: 1.5em;
    padding-top: .3em;
    right: auto;
    left: 3%;
  }

  .minimize:hover, .close:hover {
    background-color: $w50;
  }

  .chatbox {
    background-color: $w75;
    height: 75%;
    width: 94%;
    margin: 1.6em auto 0;
    padding: .2em;
    overflow-y: scroll;


    .bubble {
      padding: .15em .5em;
      border-radius: .3em;
      display: inline-block;
    }

    .message-self {
      text-align: right;
      margin-left: 3em;
      margin-bottom: .25em;

      .bubble {
        background-color: #B8D4FF;
      }
    }

    .message-other {
      text-align: left;
      margin-right: 3em;
      margin-bottom: .25em;

      .bubble {
        background-color: #C5B6FF;
      }
    }
  }

  input {
    width: 94%;
    margin: .5em 3%;
    height: 10%;
  }

}


.tooltip {
  display: inline;
  position: relative;
}

.tooltip:hover:after {
  font-size: 14px;
  background-color: #0a0a0a;
  position: absolute;
  content: attr(title);
  padding: .25em .5em;
  border-radius: .25em;
  left: 10%;
  bottom: 2.45em;
  z-index: 100;

}

.tooltip:hover:before{
    border: solid;
    border-color: #0a0a0a transparent;
//    border-width: 0 .3em .4em;
    border-width: .4em .3em 0;
    bottom: 1.25em;
    content: "";
    left: 40%;
    position: absolute;
    z-index: 99;
}


// http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner/
.spinner {
height:60px;
width:60px;
margin:5px auto;
position:relative;
-webkit-animation: rotation .6s infinite linear;
-moz-animation: rotation .6s infinite linear;
-o-animation: rotation .6s infinite linear;
animation: rotation .6s infinite linear;
border-left:6px solid rgba(0,174,239,.15);
border-right:6px solid rgba(0,174,239,.15);
border-bottom:6px solid rgba(0,174,239,.15);
border-top:6px solid rgba(0,174,239,.8);
border-radius:100%;
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}










//h1, h2, h3, h4, h5, h6 {
//  margin-top: 0;
//  cursor: default;
//}
//
//.overflow-wrapper {
//  width: 100%;
//  overflow: hidden;
//  position: absolute;
//}
//
//

//
//.dojo-content {
//  padding-top: $navbar-height;
//}
//
//
//.overflow-sizer {
//
////  background: url(../images/Orion_Nebula_-_Hubble_2006_mosaic_2560_blue_33.jpg) no-repeat;
////  background-position: center;
//  background-attachment: fixed;
////  background-attachment: scroll;
//  background-size: cover;
//
//  width: $overflow-width;
//  display: table;
//  table-layout: fixed;
////  margin-left: -100%;
////  margin-left: -200%;
//}
//
//.row-wrapper {
//  display: table-row;
//}
//
//.scroller {
//  background-color: rgba(0,0,0,.1);
//  box-sizing: content-box;
//  overflow-y: scroll;
//  height: 100%;
//  padding: $padding-view;
//  padding-right: (99em + $padding-view + $scrollbar-width);
//  margin-right: -100em;
//}
//
//.scrollbar {
//  width: $scrollbar-width;
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  background-color: $scrollbar-background;
//
//  .scrollhandle {
//    background-color: $scrollbar-background;
//    height: 20%;
//  }
//
//}
//
//.profile {
//  position: relative;
//  overflow: hidden; // else spillover at very small width
//  background-color: $scrollview-background;
//  vertical-align: top;
//  width: $content-width;
//  display: table-cell;
//  height: 100%;
//
//  .bio {
//    .textarea {
//      color: #ddd;
//
//      box-shadow: 0 0 5px rgba(255,255,255,.1);
//      background-color: rgba(0,0,0,0.5);
//      border-radius: 0.25em;
//      cursor: default;
//
//      padding: .75em;
//      font-family: 'Oxygen', sans-serif;
//      font-weight: 400;
//      font-size: 17px;
////      margin-left: 1em;
////      margin-right: 1em;
//      display: block;
//    }
//
//  }
//
//  .dojo-icon {
//    height: 3.5em;
//  }
//
//}
//
//
//.view {
//  display: table-cell;
//  width: $content-width;
//  height: 100%;
//}
//
//
//.search-results {
//  position: relative;
//  vertical-align: top;
//  background-color: $scrollview-background;
//  display: table;
//  width: 100%;
//  height: 100%;
//
//  .header {
//    background-color: rgba(0,0,0,.25);
//    margin: -0.75em;
//    margin-bottom: .75em;
//    padding: 0.5em;
//
//  }
//
//  .tile-row {
//    margin-bottom: .5em;
//  }
//}
//
//
//
//.transition {
//  cursor: pointer;
////  display: table-cell;
////  vertical-align: middle;
//}
//
//.sidebar {
//  background-color: rgba(0,0,0,0.9);
//  vertical-align: middle;
//  text-align: center;
//  width: $transition-width;
//  height: 100%;
//  display: table-cell;
////  display: none;
//  padding: 0.25em;
//  font-size: 25px;
//  position: relative;
//
//  .beacon-svg {
//    width: 100%;
//  }
//}
//
////.transition:hover {
////  font-size: 26px;
////  cursor: pointer;
////  color: #fff;
////  text-shadow: 0 0 2px rgba(255,255,255,.9);
////}
//
//
//.tile-row {
//  display: table;
//  width: 100%;
//}
//
//.tile {
//  vertical-align: top;
//  display: table-cell;
//  padding: $padding-tile;
//  height: 100%;
//  width: 50%;
//  background-color: $tile-background;
//}
//
//.tile:hover {
//  background-color: $tile-background-hover;
//
//  .unknown {
//    color: #666;
//  }
//}
//
//.unknown {
//  color: rgba(0,0,0,0);
//}
//
//
//.player-tile {
//
//  .comparison {
////    padding-top: 1em;
//    display: table-cell;
////    width: 100%;
//  }
//  .message {
//    font-family: 'Oxygen', sans-serif;
//    font-size: 15px;
////    text-align: right;
//    box-shadow: 0 0 5px rgba(255,255,255,.1);
//    background-color: rgba(0,0,0,0.2);
//    border-radius: 0.25em;
//    cursor: default;
//  }
//
//  .dojo-icon {
//    height: 2.25em;
//  }
//  .btn-message:hover {
////    box-shadow: 0 0 5px rgba(255,255,255,.1);
//    background-color: rgba(0,0,0,0.25);
////    border-radius: 0.25em;
//    cursor: pointer;
//  }
//}
//
//.header-tile {
//  background-color: rgba(0,0,0,.75);
//}
//.header-tile:hover {
//  background-color: rgba(0,0,0,.75);
//}
//
//
//
//
//
//
//a:hover {
//  text-decoration: none;
//}
//
//li {
//  list-style: none;
//}
//
//
//
//.text-row {
////  text-transform: uppercase;
//  margin-left: auto;
//  margin-right: auto;
//  display: table;
//  width: 100%;
//  max-width: 225px;
//  margin-top: 1em;
//  cursor: default;
//  p, span {
////    width: 50%;
//    display: table-cell;
//  }
//  .icon-row {
//    display: inline-block;
//  }
//}
//
//.icon-row {
//  display: inline-block;
//  box-shadow: $img-shadow;
//}
//
//.rank-row {
//  margin-bottom: -0.5em;
//}
//
//.first {
//  margin-top: 0;
//}
//
//.last {
//  margin-bottom: 0;
//}
//
//
//.portrait { // centering
//  display: block;
//  max-width:200px;
//  margin-left: auto;
//  margin-right: auto;
//  border-radius: 0.5em;
//  box-shadow: $img-shadow;
//}
//
//
//
//.rank {
//  width: 2em;
//  height: 2em;
//  margin-right: -0.33em;
//  vertical-align: middle;
//}
//
//.title {
//  text-transform: uppercase;
//  letter-spacing: .1em;
//  font-size: 17px;
//  margin-bottom: 0.5em;
//}
//
//.title::first-letter {
//  font-size: 19px;
//}
