.dojo-nav {
  height: $navbar-height;
  background-color: $navbar-bgcolor;
  color: $navbar-color;
  z-index: 10;  // for dropdown
  @include pos(f, 0 0 null 0);

  .brand {
    .brandname {
      vertical-align: bottom;
      background: url(../images/svg/dojo.svg) no-repeat;
      height: $navbar-height;
      display: inline-block;
      background-position-y: center;
      padding-left: 1.75em;
    }
  }

  .navbar-group-right {
    position: absolute;
    right: 0;
  }

  .messaging-toggle {
    padding: 0;
  }

  ul {
    position: relative;
    display: block;
    height: 100%;
    margin: 0 auto;
    padding: 0;
//    max-width: adjust here

    li {
      cursor: pointer;
      height: 100%;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      line-height: $navbar-height;
      padding: 0 1em;
    }

    li:hover {
      background-color: $w10;
    }

  }
}
