// CONVERT IMAGES TO GRAYSCALE

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

img.grayscale.disabled {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

.hover-solid {
  opacity: 0.25;
  filter: alpha(opacity=25);
}

.hover-solid:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}


// SELECTION

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


// TOOLTIP

.tooltip {
  display: inline;
  position: relative;
}

.tooltip:hover:after {
  font-size: 14px;
  background-color: #0a0a0a;
  position: absolute;
  content: attr(title);
  padding: .25em .5em;
  border-radius: .25em;
  left: 10%;
  bottom: 2.45em;
  z-index: 100;

}

.tooltip:hover:before{
    border: solid;
    border-color: #0a0a0a transparent;
//    border-width: 0 .3em .4em;
    border-width: .4em .3em 0;
    bottom: 1.25em;
    content: "";
    left: 40%;
    position: absolute;
    z-index: 99;
}



// SPINNER

// http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner/
.spinner {
height:60px;
width:60px;
margin:5px auto;
position:relative;
-webkit-animation: rotation .6s infinite linear;
-moz-animation: rotation .6s infinite linear;
-o-animation: rotation .6s infinite linear;
animation: rotation .6s infinite linear;
border-left:6px solid rgba(0,174,239,.15);
border-right:6px solid rgba(0,174,239,.15);
border-bottom:6px solid rgba(0,174,239,.15);
border-top:6px solid rgba(0,174,239,.8);
border-radius:100%;
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}
