// LAYOUT

$navbar-height: 3em;
$sidebar-width: 30%;
$footer-height: 0;
$messagebar-height: 2.25em;
$statusbar-height: 0;
$scrollbar-width: 0.5em;

$widget-width: 25%;
$beacon-status-width: 80%;
$messenger-toggle-width: 8em;
$messenger-width: 16em;
$bio-width: 20em;


$messaging-dropdown-list-width: 12em;
$messaging-dropdown-list-height: 16em;

// COLORS

// black alpha
$b95: rgba(0,0,0,.95);
$b90: rgba(0,0,0,.90);
$b75: rgba(0,0,0,.75);
$b67: rgba(0,0,0,.67);
$b50: rgba(0,0,0,.50);
$b33: rgba(0,0,0,.33);
$b25: rgba(0,0,0,.25);
$b15: rgba(0,0,0,.15);
$b10: rgba(0,0,0,.10);
$b05: rgba(0,0,0,.05);

// white alpha
$w95: rgba(255,255,255,.95);
$w90: rgba(255,255,255,.90);
$w75: rgba(255,255,255,.75);
$w67: rgba(255,255,255,.67);
$w50: rgba(255,255,255,.50);
$w33: rgba(255,255,255,.33);
$w25: rgba(255,255,255,.25);
$w20: rgba(255,255,255,.20);
$w15: rgba(255,255,255,.15);
$w10: rgba(255,255,255,.10);
$w05: rgba(255,255,255,.05);


// light text theme
$navbar-bgcolor: #060608;
$sidebar-bgcolor: $b75;
$widget-bgcolor: $b50;
$content-bgcolor: $b15;
$status-submit-bgcolor: #111;
$tile-bgcolor: $b50;
$tile-bghover: $b33;
$beacon-status-bgcolor: $b25;
$messagebar-bgcolor: $b75;
$set-status-bgcolor: #eee;

$navbar-color: #cdf;
$content-color: #cdf;
$content-color-alpha: rgba(204, 221, 255, 0.33);
$beacon-status-color: #9ab;
$placeholder-color: #567;
$set-status-color: #222;

$shadow: 0 0 5px $b25;
$shadow-white: 0 0 5px $w10;

$dark-bg-color: rgba(5, 6, 10, 0.9);
$light-bg-color: rgba(157, 210, 249, 0.65);
$landing-title-bg-color: rgba(1, 3, 24, 0.33);
$player-tile-bg-color: rgba(195, 208, 208, 0.05);
$msg-button-hover-color: rgba(50,50,50,0.5);
$overlay-bg-color: rgba(0,0,0,.5);
$overlay-dismiss-color: rgba(13,15,15,1);
$overlay-dismiss-hover-color: rgba(15,20,20,1);

$message-self-bubble-color: #B8D4FF;
$message-other-bubble-color: #C5B6FF;
